<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<div>
    <mat-form-field>
        <mat-label>Choose a date</mat-label>
        <input matInput [matDatepicker]="picker">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <table>
        <thead>
          <tr>
            <th>Hour</th>
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let hour of hoursAMPM" [class.selected]="isHourSelected(hour)">
              <td (click)="selectHour(hour)">{{ hour }}
              </td>
            </tr>
          </tbody>
      </table>    
</div>
<div *ngFor="let appointment of appointments">
  <h2>{{ appointment.title }}</h2>
  <p> ID: {{appointment.id}}</p>
  <p>{{ appointment.description }}</p>
  <p>{{ appointment.date }}</p>
  <span class="material-symbols-outlined" (click)="deleteAppointment()">
    delete
    </span>
</div>
