<div>
    <mat-form-field>
        <mat-label>Choose a date</mat-label>
        <input matInput [matDatepicker]="picker">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <table>
        <thead>
          <tr>
            <th>Hour</th>
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let hour of hoursAMPM" [class.selected]="isHourSelected(hour)">
              <td (click)="selectHour(hour)">{{ hour }}
                <p *ngIf=""></p>
              </td>
            </tr>
          </tbody>
      </table>    
</div>
